# figma-managed npm registry config start
@iris-ds:registry=https://registry.figma.com/npm/4f5f79cd-5f47-4999-afca-56e698a893a2/registry/
@make-kits:registry=https://registry.figma.com/npm/4f5f79cd-5f47-4999-afca-56e698a893a2/registry/
# figma-managed npm registry config end
